{# base.html.twig #}
<!DOCTYPE html>
<html>

<head>
    <!-- ... -->
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <title>Admin GDrive</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="#"><i class="fab fa-google-drive"></i> Admin GDrive</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('processfiles') }}">Process Files</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('checkfiles') }}">Check Files</a>
                </li>
            </ul>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Example development by Ing. Carlos Pérez.</span>
        </div>
    </footer>
    <script src="{{ asset('build/app.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</body>

</html>